header {
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    position: sticky;
    z-index: 1;
    >img {
        object-fit: cover;
    }
    & .header-tabbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        gap: 32px;
    }
}