header {
    height: 94px;
    background-color: var(--secondary-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 80px;

    position: sticky;

    top: 0;
    left: 0;
    z-index: 1;

    >img {
        object-fit: cover;
    }

    & .header-tabbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        gap: 32px;
    }
}