.section_4 {
    display: flex;
    width: 1170px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    padding: 120px 375px 120px 375px;

    >.product_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        >h2 {
            color: #111;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
            /* 128.571% */
            letter-spacing: 4.5px;
        }

        >h1 {
            color: #111;
            font-family: Roboto;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            /* 110% */
            letter-spacing: 0.9px;
        }
    }
}

.product_list {
    display: flex;
    align-items: flex-end;
    gap: 40px;


    >.background_list_item {
        width: 360px;
        height: 321px;
        flex-shrink: 0;
        border: 1px solid #000;
    }

    >.product_content {
        display: flex;
        width: 900.906px;
        height: 270px;
        padding: 0px 70px 50px 20px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.20);


        >.product_content_item {
            width: 640px;
            height: 145px;
            padding-top: 80px;


            >h3 {
                color: #7E7D7D;
                text-align: center;
                font-family: 'Roboto';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                /* 200% */
            }

            >h4 {
                color: #111;
                font-family: 'Roboto';
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                /* 150% */
                letter-spacing: 1.5px;
                margin-left: 200px;

            }
        }
    }

}

.list_item {
    margin-left: 375px;
    position: relative;
    bottom: 450px;
    background: #FFF;
    width: 200px;

    >h2 {
        color: #7E7D7D;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        /* 214.286% */
        letter-spacing: 1.5px;
    }

    >h3 {
        color: #111;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 214.286% */
        letter-spacing: 1.5px;
    }
}